@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

:root {
    --blue: rgb(39, 76, 119);
    --TransparentWhite: rgba(255, 255, 255, 0.75);
    --VeryLightGray: rgb(242, 242, 242);
}

*{
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: hsl(212, 51%, 11%);;
}

main {
    width: 60%;
    box-sizing: border-box;
    padding: 50px;
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.500);
    background-color: var(--VeryLightGray);
    background-color: transparent;
    border-radius: 30px;
    background-color: var(--blue);
    margin-top: 20px;
}

h1 {
    margin-bottom: 25px;
    text-align: center;
    color: var(--VeryLightGray);
    font-family: 'Big Shoulders Display', Arial, Helvetica, sans-serif;
}

h2 {
    color: var(--VeryLightGray);
    font-family: 'Big Shoulders Display', Arial, Helvetica, sans-serif;
    margin-bottom: 15px;
}

p {
    margin-bottom: 40px;
    text-align: justify;
    font-family: 'Lexend Deca', Arial, Helvetica, sans-serif;
    color: var(--TransparentWhite);
}

a {
    font-family: 'Lexend Deca', Arial, Helvetica, sans-serif;
    background-color: white;
    padding: 10px 25px;
    border: 2px solid transparent;
    border-radius: 20px;
    text-decoration: none;
    color: var(--blue);
    font-weight: bolder;
}

a:hover {
    color: white;
    background-color: var(--blue);
    border: 2px solid white;
    transition: 0.5s ease;
}

@media(max-width: 600px) {
    main {
        width: 80%;
        padding: 30px 20px;
        border-radius: 0px;
    }

    p {
        margin-bottom: 20px;
    }
}